<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menú</title>
</head>
<body>
    <h1>Menú</h1>
    <table border="1">
        <tr>
            <th>Clave</th>
            <th>Nombre</th>
            <th>Precio</th>
        </tr>
        {% for producto in productos %}
        <tr>
            <td>{{ producto[0] }}</td>
            <td>{{ producto[1] }}</td>
            <td>{{ producto[2] }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="/">Volver al inicio</a>
</body>
</html>