<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Pedidos</title>
</head>
<body>
    <h1>Pedidos</h1>
    <form method="POST" action="/pedidos">
        <label for="pedidos">Número de Pedido:</label>
        <input type="text" id="pedidos" name="pedidos">
        <button type="submit">Buscar</button>
    </form>
    
    {% if mensaje %}
        <p>{{ mensaje }}</p>
    {% endif %}
    
    <table border="1">
        <thead>
            <tr>
                <th>Pedido</th>
                <th>Cliente</th>
                <th>Producto</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            {% for pedido in pedidos %}
                <tr>
                    <td>{{ pedido.pedido }}</td>
                    <td>{{ pedido.cliente }}</td>
                    <td>{{ pedido.producto }}</td>
                    <td>{{ pedido.precio }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <button onclick="window.location.href='/'">Ir al Inicio</button>
</body>
</html>